---
layout: layouts/base.njk
title: Resources
description: Resources page linking to external associations and agencies (no internal child pages).
permalink: /resources.html
---

<div class="container">
  <div class="content-container">
    <div class="page-header">
      <h1>{{ title }}</h1>
      <p class="page-intro">Professional associations and regulatory agencies relevant to private investigation and security services.</p>
    </div>

    <section>
      <h2>Professional Associations</h2>
      <ul class="resource-list">
        <li><a href="https://www.nciss.org" target="_blank" rel="nofollow noopener" data-testid="link-resource-nciss">National Council of Investigation and Security Services (NCISS)</a></li>
        <li><a href="https://www.cali-pi.org" target="_blank" rel="nofollow noopener" data-testid="link-resource-cali">California Association of Licensed Investigators (CALI)</a></li>
        <li><a href="https://www.pimall.com" target="_blank" rel="nofollow noopener" data-testid="link-resource-pimall">PI Magazine & The PI Mall</a></li>
        <li><a href="https://www.asis.org" target="_blank" rel="nofollow noopener" data-testid="link-resource-asis">ASIS International</a></li>
      </ul>
    </section>

    <section>
      <h2>Regulatory Agencies</h2>
      <ul class="resource-list">
        <li><a href="https://www.bsis.ca.gov" target="_blank" rel="nofollow noopener" data-testid="link-resource-ca-bsis">California Bureau of Security and Investigative Services (BSIS)</a></li>
        <li><a href="https://dopl.utah.gov" target="_blank" rel="nofollow noopener" data-testid="link-resource-ut-dopl">Utah Division of Occupational and Professional Licensing (DOPL)</a></li>
        <li><a href="https://boards.bsd.dli.mt.gov" target="_blank" rel="nofollow noopener" data-testid="link-resource-mt-board">Montana Board of Private Security</a></li>
      </ul>
    </section>

    <section>
      <h2>Industry Resources</h2>
      <ul class="resource-list">
        <li><a href="https://www.fbi.gov" target="_blank" rel="nofollow noopener" data-testid="link-resource-fbi">Federal Bureau of Investigation (FBI)</a></li>
        <li><a href="https://www.dhs.gov" target="_blank" rel="nofollow noopener" data-testid="link-resource-dhs">Department of Homeland Security (DHS)</a></li>
        <li><a href="https://www.atf.gov" target="_blank" rel="nofollow noopener" data-testid="link-resource-atf">Bureau of Alcohol, Tobacco, Firearms and Explosives (ATF)</a></li>
      </ul>
    </section>
  </div>
</div>
